footer {
  display: flex;
  text-align: center;
  color: black;
  background-color: #00ff00;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  /* border: 2px solid black; */
}
