header {
  background-color: white;
  padding-left: 20px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  border-bottom: 1px solid #ccc;
  height: 70px;
  width: 100%;
}

